@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.task-list {
    & .item {
        border: 1px solid #00000020;
        border-radius: 10px;
        transition: all .5s ease;
        background-color: #F7F8FF;
        padding: 20px;
        gap: 15px;

        &:hover {
            transform: translateY(-10px);
        }

        & > span {
            padding: 5px 0;;
        }

        & .data_inactive {
            bottom: 20px;
            right: 20px;
            padding: 5px 10px;
        }

        & .priority {
            top: 20px;
            right: 20px;
            padding: 5px 10px;
            border-radius: 16px;
        }

        & .status {
            top: 20px;
            right: 20px;
            padding: 5px 10px;
            border-radius: 16px;
        }

        & .status_wrapper {
            top: 20px;
            right: 20px;
        }
    }
}

.task-modal {
    & .info {
        display: flex;
        flex-direction: column;
    }
}